<ccnextgen-header [buttons]="[
    {
        icon: 'cancel',
        route: '/form',
        title: 'Create'
    }]">Manage Items</ccnextgen-header>

    <ccnextgen-search [search]="search" (searchEvent)="handleSearch($event)"></ccnextgen-search>

    <p>Searching for... <strong>{{search}}</strong></p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(i of createRange(100); track i)
            {
            <tr>
                <td>1</td>
                <td>Item 1</td>
                <td>This is item 1</td>
                <td class="text-end">
                    <ccnextgen-crud-buttons [itemId]="1"></ccnextgen-crud-buttons>
                </td>
            </tr>
            }
        </tbody>
    </table>